.firstParagraph {
	color: rebeccapurple;
}

.form-container {
	/* Center the form on the page */
	margin: 0 auto;
	width: 400px;
	/* Form outline */
	padding: 1em;
	border: 1px solid #ccc;
	border-radius: 1em;
}

label {
	/* Uniform size & alignment */
	display: inline-block;
	width: 110px;
	text-align: right;
}

input {
	/* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
	font: 1em sans-serif;

	/* Uniform text field size */
	width: 300px;
	box-sizing: border-box;

	/* Match form field borders */
	border: 1px solid #999;
}

input:focus {
	border-color: #000;
}

.button-container {
	margin: 20px 0;
}

.button {
	width: 100px;
}
